<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.iptime.songjun.killthelight" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <receiver
            android:name="org.iptime.songjun.killthelight.MyCustomWidget"
            android:label="setOnClickEventWidget" >

            <!-- AppWidget에서 수신할 action들 정의 (본 예제에서는 사용 안함) -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- 이 브로드캐스트리시버가 AppWidget임을 명시 -->
            <!-- 이 AppWidget에 대한 명세파일의 위치 명시 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configuration" />
        </receiver>



        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TutorialActivity"/>

    </application>

</manifest>
